# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
pip-wheel-metadata/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# Pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Pyre type checker
.pyre/

# Unit test / coverage results
.pytest_cache/
tests/__pycache__/
test-results.xml

# Environments
.env
.env.*
